<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.tobacco.onlinesrv" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".activity.OptionActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.AddPreOrderActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".activity.QueryPreOrderActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".activity.AddOrderActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".activity.QueryOrderActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".activity.DatePickActivity"
			android:theme="@android:style/Theme.Dialog" android:label="@string/app_name"></activity>
		<provider android:name="com.tobacco.onlinesrv.provider.PreOrderProvider"
			android:authorities="com.tobacco.onlinesrv.provider.preOrderProvider">
		</provider>
		<provider android:name="com.tobacco.onlinesrv.provider.OrderProvider"
			android:authorities="com.tobacco.onlinesrv.provider.orderProvider">
		</provider>
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest>