<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tobacco"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".pos.activity.Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        

        <!--POS Activity -->
          <activity android:name=".pos.activity.KindManagement"></activity>
          <activity android:name=".pos.activity.PaymentManagement"></activity>
          <activity android:name=".pos.activity.PurchaseManagement"></activity>
          <activity android:name=".pos.activity.ReportManagement"></activity>
		  <activity android:name=".pos.activity.AddGoodsKind" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.EditGoodsKind" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.AddGoods" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.AddGoodsPrice" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.Login" android:theme="@android:style/Theme.Dialog"></activity>
		  
    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 