<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tobacco"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".pos.activity.Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PosMain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        

        <!--POS Activity -->
          <activity android:name=".pos.activity.KindManagement"></activity>
          <activity android:name=".pos.activity.PaymentManagement"></activity>
          <activity android:name=".pos.activity.PurchaseManagement"></activity>
          <activity android:name=".pos.activity.ReportManagement"></activity>
		  <activity android:name=".pos.activity.AddGoodsKind" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.EditGoodsKind" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.AddGoods" android:theme="@android:style/Theme.Dialog"></activity>  
		  <activity android:name=".pos.activity.AddGoodsPrice" android:theme="@android:style/Theme.Dialog"></activity>
		 
		  <activity android:name=".pos.activity.AddPBill" android:theme="@android:style/Theme.Dialog"></activity>
		  <activity android:name=".pos.activity.ConsumeInsert"  android:label="Consume_Insert">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.CosumeInsert" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
          <activity android:name=".pos.activity.ConsumeInsertDialog" android:label="Consume_Insert_Dialog"
        		  android:theme="@android:style/Theme.Dialog">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ConsumeInsertDialog" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
          <activity android:name=".pos.activity.ConsumeSelect" android:label="Consume_Select" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ConsumeSelect" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.ComplaintInsertDialog" 
        		  android:theme="@android:style/Theme.Dialog">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ComplaintInsertDialog" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.ComplaintSelect" android:label="Complaint_Select" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ComplaintSelect" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.ReturnInsert" android:label="Return_Insert" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ReturnInsert" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.ReturnInsertDialog" 
				android:theme="@android:style/Theme.Dialog">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ReturnInsertDialog" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.ReturnSelect" android:label="Return_Select" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ReturnSelect" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.InventoryInsert" android:label="库存盘点" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.InventoryInsert" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.InventoryBillSelect" android:label="盘点查询" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.InventoryBillSelect" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.ShowInventoryItem" android:label="盘点详细" >
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ShowInventoryItem" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.activity.SelectInventoryGoods" android:label="选择商品" 
		  		android:theme="@android:style/Theme.Dialog">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.SelectInventoryGoods" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <!-- Common activity -->
		  <activity android:name=".pos.common.ShowGoodsDetail" 
          		android:theme="@android:style/Theme.Dialog">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ShowGoodsDetail" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  <activity android:name=".pos.common.ShowCountGoodsDetail" 
          		android:theme="@android:style/Theme.Dialog">
			  <intent-filter>
                <action android:name="com.tobacco.pos.activity.ShowCountGoodsDetail" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
		  </activity>
		  
		  
		  <!-- ContentProvider -->
		  <provider android:name=".pos.contentProvider.GoodsCPer" android:authorities="com.tobacco.contentProvider.GoodsCPer" />
		  <provider android:name=".pos.contentProvider.GoodsKindCPer" android:authorities="com.tobacco.contentProvider.GoodsKindCPer" />
		  <provider android:name=".pos.contentProvider.GoodsPriceCPer" android:authorities="com.tobacco.contentProvider.GoodsPriceCPer" />
		  <provider android:name=".pos.contentProvider.ManufacturerCPer" android:authorities="com.tobacco.contentProvider.ManufacturerCPer" />
		  <provider android:name=".pos.contentProvider.PurchaseBillCPer" android:authorities="com.tobacco.contentProvider.PurchaseBillCPer" />
		  <provider android:name=".pos.contentProvider.PurchaseItemCPer" android:authorities="com.tobacco.contentProvider.PurchaseItemCPer" />
		  <provider android:name=".pos.contentProvider.SalesBillCPer" android:authorities="com.tobacco.contentProvider.SalesBillCPer" />
		  <provider android:name=".pos.contentProvider.SalesItemCPer" android:authorities="com.tobacco.contentProvider.SalesItemCPer" />
		  <provider android:name=".pos.contentProvider.UnitCPer" android:authorities="com.tobacco.contentProvider.UnitCPer" />
		  <provider android:name=".pos.contentProvider.UserInfoCPer" android:authorities="com.tobacco.contentProvider.UserInfoCPer" />
		  <provider android:name=".pos.contentProvider.VIPInfoCPer" android:authorities="com.tobacco.contentProvider.VIPInfoCPer" />

		  <provider android:name=".pos.contentProvider.ConsumeCPer" android:authorities="com.tobacco.contentProvider.ConsumeCPer"/>
   		  <provider android:name=".pos.contentProvider.ComplaintCPer" android:authorities="com.tobacco.contentProvider.ComplaintCPer"/>
		  <provider android:name=".pos.contentProvider.ReturnCPer" android:authorities="com.tobacco.contentProvider.ReturnCPer"/>
		  <provider android:name=".pos.contentProvider.InventoryBillCPer" android:authorities="com.tobacco.contentProvider.InventoryBillCPer"/>
		  <provider android:name=".pos.contentProvider.InventoryItemCPer" android:authorities="com.tobacco.contentProvider.InventoryItemCPer"/>
    	  
    	  <!-- Service -->
    	  <service android:name=".pos.service.PrintService">
    	  	<intent-filter >
    	  	<action android:value="com.tobacco.pos.service.PrintService" android:name="com.tobacco.pos.service.PrintService"/>
    	  	</intent-filter>
    	  	
    	  </service>

   	
		<service android:name=".pos.service.ScanInputService"/> 
    </application>

    <uses-sdk android:minSdkVersion="3" />

</manifest> 